<div class="mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Páginas SEO", admin_landing_pages_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Editar Página</li>
    </ol>
  </nav>
  <h1 class="h3 mb-0 text-gray-800">Editar Página: <%= @landing_page.title %></h1>
</div>

<%= render 'form' %>
