<div class="mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "P치ginas SEO", admin_landing_pages_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Nova P치gina</li>
    </ol>
  </nav>
  <h1 class="h3 mb-0 text-gray-800">Nova P치gina Din칙mica SEO</h1>
</div>

<%= render 'form' %>
