<%
  input_id = id.presence || "#{name.to_s.parameterize}_filter"
  chip_classes = ["ax-toggle-chip", "ax-filter-check", ("is-checked" if checked), class_name].compact_blank.join(" ")
%>

<label class="<%= chip_classes %>" for="<%= input_id %>" data-controller="ax-checkbox-chips">
  <%= check_box_tag name,
                    value,
                    checked,
                    id: input_id,
                    class: "ax-toggle-chip__input",
                    data: { action: "change->ax-checkbox-chips#sync" } %>
  <span class="ax-toggle-chip__label"><%= label %></span>
</label>
