<div class="ax-sticky-action-footer habitation-action-bar <%= class_name %>">
  <div class="ax-sticky-action-footer__inner habitation-action-inner">
    <div class="ax-sticky-action-footer__meta habitation-action-meta">
      <%= meta %>
    </div>

    <div class="ax-sticky-action-footer__actions habitation-action-buttons">
      <%= body %>
    </div>
  </div>
</div>
