<%
  current_value = form.object.public_send(method) if form.object.respond_to?(method)
  checked = current_value == true || current_value.to_s == checked_value.to_s
  chip_classes = ["ax-toggle-chip", local_assigns[:class_name], ("is-checked" if checked)].compact
  input_options = {
    class: "ax-toggle-chip__input",
    disabled: disabled,
    onchange: "this.closest('.ax-toggle-chip').classList.toggle('is-checked', this.checked)"
  }
  input_options[:id] = local_assigns[:id] if local_assigns[:id].present?
  input_options[:data] = local_assigns[:input_data] if local_assigns[:input_data].present?
%>
<label class="<%= chip_classes.join(" ") %>">
  <%= form.check_box method, input_options, checked_value, unchecked_value %>
  <span class="ax-toggle-chip__box" aria-hidden="true">
    <i class="bi bi-check-lg"></i>
  </span>
  <span class="ax-toggle-chip__label"><%= label %></span>
</label>
