<h2 class="login-title">Convite expirado</h2>
<div class="login-form">
  <p style="color:#475467;line-height:1.6;">Este convite passou da validade de 7 dias. Peça ao administrador da conta para reenviar.</p>
  <%= link_to "Ir para o login", new_admin_user_session_path, class: "forgot-link" %>
</div>
