<div class="container-fluid py-4">
  <%= link_to admin_home_sections_path, class: "btn btn-secondary mb-4" do %>
    <i class="bi bi-arrow-left"></i> Voltar
  <% end %>

  <h1 class="mb-4">Editar Seção</h1>

  <%= render 'form' %>
</div>
