<div class="ax-card">
  <div class="ax-card__header py-3">
    <h5 class="ax-card__title tw-mb-0 tw-font-bold tw-text-primary tw-flex tw-items-center tw-gap-2"><i class="bi bi-plus-circle"></i>Novo Proprietário</h5>
  </div>
  <div class="ax-card__body p-4">
    <%= render 'form', proprietor: @proprietor %>
  </div>
</div>
